<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Over+the+Rainbow" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <h1>My Auth Site</h1>
  <a href="/signup">Sign Up!</a>
  <a href="/login">Login!</a>
  <br>
  <a href="/" action="">Logout</a>
  <br>
  <a href="https://www.instagram.com/ooopcaboy_/" id="dot">.</a>
</body>

</html>