<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Over+the+Rainbow" rel="stylesheet">
  <title>Profile</title>
</head>
<body>
  <h1>USER PROFILE</h1>
  <h3>Username: {{user.username}}</h3>
  <h4>Password: {{user.password}}</h4>
  <a href="/" id="home">Home</a>
</body>
</html>